@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
  background-color: #f2d9a9;
  font-family: "Press Start 2P", cursive;
}

header {
  background-image: url(./Images/Zelda-cave.png);
  background-size: cover;
  margin: 0;
}

.App-footer {
  color: black;
  font-size: 10px;
  text-align: center;
  margin: 30px 0;
}

.App-footer a {
  color: rgb(177, 0, 0);
  text-decoration: none;
}

.App-footer a:hover {
  color: rgb(255, 153, 0);
}

input[type="checkbox"] {
  content: url("./Images/logo.png");
  display: block;
  margin: 0 auto;
  max-height: 250px;
}
input[type="checkbox"]:checked {
  content: url("./Images/logo2.png");
}
.App-logo {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.App-logo:hover {
  cursor: pointer;
}
