.Meaning {
  color: rgb(224, 224, 224);
}

.Meaning h3 {
  color: rgb(110, 26, 26);
  font-size: 25px;
  font-weight: bold;
  text-transform: capitalize;
}
.Meaning .example {
  color: rgb(116, 116, 116);
  font-size: small;
  font-style: italic;
  margin-top: 10px;
}
