.Synonyms {
  margin: 20px 0 50px;
  padding: 0;
}

.Synonyms li {
  background-color: #b1e6ff;
  border: 1px solid #047abb;
  color: black;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  margin: 5px;
  padding: 5px;
}
